# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. SciPy
3. MatplotLib
4. NumPy

| Data Science Tools |
| ------------------ |
| MongoDB |
| Apache SparkSQL |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective:__
* List popular languages for Data Science
* List of popular libraries in Data Science
* List of comments

In [ ]:
## Author
Kangkana Barman